<% @page_title = "SignUp" %>
<div class="fullscreen-bg"></div>
<div id="signinn">
<div class="container">
<div class=" col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 ">
<div class="admin-form theme-primary mw1000 center-block" style="padding-bottom: 175px;margin-top: 40px;">

   <div class="panel heading-border panel-primary">
  <%= form_for(:user,:class=>"form-signin", :url => {:controller => 'main', :action => 'sign_up'},:html => {:id => "user"}) do |f| %>
  <div class="panel-heading">
                  <h3 class="panel-title" style="font-size:1.5em;">Sign up</h3>
            </div>

           
          <div class="form-group ">
            <p>Role</p>
            <div class="radio text-left ">

            <label>
            <%= radio_button_tag :filter ,'student' ,:checked%>Student</label>
          </div>
          <div class="radio text-left ">

            <label>
            <%= radio_button_tag :filter ,'instructor' %>Instructor</label>
          </div>
          </div>
          <div class="form-group">
          <p>Name</p> 
          <%= f.text_field :username ,:class=>"gui-input", :required=>"true",:id=>"username"%>
          </div>
          <div class="form-group">
          <p>Email</p>
          <%= f.text_field :email ,:class=>"gui-input", :required=>"true",:id=>"email"%>
          </div>
          <div class="form-group">
          <p>Password</p>
          <%= f.password_field :password,:class=>"gui-input",:required=>"true",:id=>"signup-pass"%>
          </div>
          <div class="form-group">
          <p>Confirm Password</p>
          <%= f.password_field :password_confirmation,:class=>"gui-input" ,:required=>"true",:id=>"pass_confirm"%>
          </div>
          
          <%= f.submit :GetStarted ,:class=>"btn btn-block",:id=>"signup-submit" %>
                               
        
  <% end %>
 </div>
</div>
</div></div></div>

<style type="text/css">
.fullscreen-bg {
  background: url("/assets/cover.jpg")50% 0 no-repeat;
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-default {
    z-index: 150;
    position: relative;
    width: 100%;
    background-color: transparent;
    padding: 25px 0 25px;
    border: none;
    transition: top ease 0.2s;
  }
  .heading-border{
  border: 1px solid rgb(218, 200, 200);
  padding: 30px;
}
.heading-border .panel-heading {
  position: relative;
  height: 50px;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid transparent;
}
.panel-title {
  font-weight: 500;
  padding-right: 20px;
  font-size: 1em;
  line-height: 30px;
}

.admin-form {
  line-height: 1.231;
  font-weight: 400;
  font-size: 14px;
  color: #626262;
}

.admin-form .gui-input {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.admin-form label{
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #626262;
  outline: none;
}

.admin-form .field-icon i {
  color: #BBB;
  position: relative;
}
.admin-form .field-label {
  display: block;
  margin-bottom: 7px;
}
.admin-form .gui-input{
  position: relative;
  vertical-align: top;
  border: 1px solid #DDD;
  display: -moz-inline-stack;
  display: inline-block;
  display: inline;
  color: #626262;
  outline: none;
  height: 42px;
  width: 100%;
  zoom: 1;
}
.admin-form .gui-input:focus{
  color: #3c3c3c;
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  outline: none;
}
.admin-form .gui-input:focus ~ .field-icon i {
  color: #555;
}
.admin-form .prepend-icon {
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.admin-form .prepend-icon .field-icon {
  top: 0;
  left: 0;
  z-index: 4;
  width: 42px;
  height: 42px;
  color: inherit;
  line-height: 42px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  pointer-events: none;
}
.admin-form .append-icon .field-icon i,
.admin-form .prepend-icon .field-icon i {
  position: relative;
  font-size: 14px;
}

.admin-form .prepend-icon > input {
  padding-left: 36px;
}
#signup-submit{
    padding: 10px 20px;
    background-color: #A19276;
    color: #fff;
    font-size: 22px;
    border-radius: 6px;
    border-color: transparent;
}
.error{
  color: red;
}
</style>