<div class="panel">
                      <div class="panel-heading">
                          
                          <h3 class="panel-title">Assignments</h3>
                      </div>
          
                      <div class="panel-body">
                          <div class="table-responsive">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th style="width:6ex">Course</th>
                                          <th>Name</th>
                                          <th>Date</th>
                                          <th class="text-center">Description</th>
                                          <th class="text-right">Actions</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <%@assignments.each do |ass|%>
                                      <tr>
                                          <td><%=ass.course_name%></td>
                                          <td><%=ass.name%></td>
                                          <td><%=ass.due_date%></td>
                                          <td class="text-center"><span class="label label-table label-success"><%=ass.description%></span></td>
                                          <td class="text-right">
                                            <a class="btn btn-xs btn-default add-tooltip" data-toggle="tooltip" href="<%=assignment_path(:id=>ass.id)%>" data-original-title="Show" data-container="body"><i class="fa fa-file"></i></a>
                                              <a class="btn btn-xs btn-default add-tooltip" data-toggle="tooltip" href="<%=new_assignment_repository_path(ass.id)%>" data-original-title="Repository" data-container="body"><i class="fa fa-plus"></i></a>
                                          </td>
                                      </tr>
                                      <%end%>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>  