<div class="boxed-group editzone">
    <h3><%=@assignment.name%></h3>
<div class="boxed-group-inner">
		<label>Assignment description :</label>
			<p><%=@assignment.description%></p>
		<label>Due date :</label>
			<p><%=@assignment.due_date%></p>
		<label>Team up-to :</label>
			<p><%=@assignment.up_to%></p>
		<label>Mark :</label>
			<p><%=@assignment.mark%></p>
		<label>Course name :</label>
			<p><%=@assignment.course_name%></p>
</div>
</div>
									

<style type="text/css">
.boxed-group {
  position: relative;
  border-radius: 3px;
  margin-bottom: 30px}

.boxed-group.editzone>h3 {
  background-color: #f5f5f5;
  border: 1px solid #d8d8d8;
  color: #333;
  padding: 9px 10px 10px;
  font-size: 14px;
  line-height: 17px;
  text-shadow: none;}

  .boxed-group-inner {
  padding: 15px 10px;
  background: #fff;
  margin-top: -10px;
  border: 1px solid #d8d8d8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #666;
  font-size: 13px;
  }

</style>