<div class="row">
<div class="col-md-8">
	<div class="boxed-group editzone">
		<h3>Repository Files</h3>
	<div class="boxed-group-inner">
<% @tree.each do |x| %>
<% if x.type==:blob %>
<li> <a href="/assignment/asd/repository/<%= params[:id]%>/blob/<%= params[:ref].nil? ? 'master' : params[:ref] rescue 'master' %>/<%= x.path %>"><%=x.name%></a></li>
<% else %>
<li> <a href="/assignment/asd/repository/<%= params[:id]%>/tree/<%= params[:ref].nil? ? 'master' : params[:ref] rescue 'master' %>/<%= x.path %>"><%=x.name%></a></li>
<% end %>
<% end %>
</div>
</div>
</div>


<div class="col-md-4">
<div class="boxed-group editzone">
		<h3>Add Students</h3>
	<div class="boxed-group-inner">
<% if @assignment.up_to.to_i > @repo.students.count %>

	<%= form_for(Repository.new,:url=>add_students_assignment_repository_path(:assignment_id=>params[:assignment_id],:id=>params[:id]),:class=>"form-inline") do |f|%>

	   <%= select_tag :student_ids,
    options_from_collection_for_select(Student.where(:_id.ne=>@current_student.id,:repository_ids.nin=>[@repo.id]), :id, :username), :class => "chzn-select",:style=>"width:208px;",:placeholder=>"awe", :id=>"signup-target-lang" ,:required=>true %>
    	<%= f.submit 'Add' ,:class=>"btn btn-block btn-success" %>
	<% end %>
	<% end %>
</div>
</div>
</div>
</div>

<script type="text/javascript">
$(".chzn-select").chosen();
</script>

<style type="text/css">
.boxed-group {
  position: relative;
  border-radius: 3px;
  margin-bottom: 30px}

.boxed-group.editzone>h3 {
  background-color: #f5f5f5;
  border: 1px solid #d8d8d8;
  color: #333;
  padding: 9px 10px 10px;
  font-size: 14px;
  line-height: 17px;
  text-shadow: none;}

  .boxed-group-inner {
  padding: 15px 10px;
  background: #fff;
  margin-top: -10px;
  border: 1px solid #d8d8d8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #666;
  font-size: 13px;
  }


</style>