
<% @tree.each do |x| %>
<% if x.type==:blob %>
<li> <a href="/assignment/asd/repository/<%= params[:id]%>/blob/<%= params[:ref] rescue 'master' %>/<%= x.path %>"><%=x.name%></a></li>
<% else %>
<li> <a href="/assignment/asd/repository/<%= params[:id]%>/tree/<%= params[:ref] rescue 'master' %>/<%= x.path %>"><%=x.name%></a></li>
<% end %>
<% end %>