<div class="panel">
                      <div class="panel-heading">
                          <div class="panel-control">
                              <a class="fa fa-question-circle fa-lg fa-fw unselectable add-tooltip" href="#" data-original-title="<h4 class='text-thin'>Information</h4><p style='width:150px'>This is an information bubble to help the user.</p>" data-html="true" title=""></a>
                          </div>
                          <h3 class="panel-title">Assignments</h3>
                      </div>
          
                      <div class="panel-body">
                          <div class="form-inline">
                              <div class="row">
                                  <div class="col-sm-6 table-toolbar-left">
                                      <button id="demo-btn-addrow" class="btn btn-purple btn-labeled fa fa-plus"><a href="<%=new_assignment_path%>" style="color:#fff;">Add</a></button>
                                  </div>
                                  
                              </div>
                          </div>
                          <div class="table-responsive">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th style="width:6ex">Course_ID</th>
                                          <th>Name</th>
                                          <th>Date</th>
                                          <th class="text-center">Description</th>
                                          <th class="text-right">Actions</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <%@assignments.each do |ass|%>
                                      <tr>
                                          <td><%=ass.course_id%></td>
                                          <td><%=ass.name%></td>
                                          <td><%=ass.due_date%></td>
                                          <td class="text-center"><span class="label label-table label-success"><%=ass.description%></span></td>
                                          <td class="text-right">
                                              <a class="btn btn-xs btn-default add-tooltip" data-toggle="tooltip" href="<%=edit_assignment_path(:id=>ass.id)%>" data-original-title="Edit" data-container="body"><i class="fa fa-pencil"></i></a>
                                              <a class="btn btn-xs btn-default add-tooltip" data-toggle="tooltip" href="<%=assignment_path(:id=>ass.id)%>" data-original-title="Edit" data-container="body" data-confirm="Are you sure?" data-method="delete"><i class="fa fa-trash"></i></a>
                                              
                                          </td>
                                      </tr>
                                      <%end%>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>  